@import "../../index.scss";
.navbar {
  background: $mainBlack;
  color: $mainWhite;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
}
.nav-links {
  align-self: center;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: $mainWhite;
  font-size: 1.2rem;
  &:hover {
    color: $mainGreen;
  }
}
.active {
  color: $mainGreen;
}
