@import "../../index.scss";
.tour {
  background-color: $mainGrey;
  img {
    width: 100%;
    height: 15rem;
  }
}
.img-container {
  position: relative;
}
.close-btn {
  position: absolute;
  color: $mainGreen;
  opacity: 0;
  top: 2%;
  right: 2%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.img-container:hover .close-btn {
  opacity: 1;
}

.tour-info {
  padding: 1rem 0.5rem;
  h3 {
    text-transform: uppercase;
    color: $mainGreen;
  }
  h4 {
    text-transform: capitalize;
  }
  h5 {
    text-transform: capitalize;
    span {
      font-size: 1.2rem;
      color: $mainGreen;
      cursor: pointer;
    }
  }
}
